/* GLOBAL OVERRIDES */

:focus {
    box-shadow: 0 0 0 4px rgba(255, 71, 126, 0.44);
    outline: none;
}


/* RESPONSIVE FONT SIZE */

@media (min-width: 700px) {
    html {
        font-size: calc(18/16 * 1rem);
    }
}
@media (min-width: 1200px) {
    html {
        font-size: calc(20/16 * 1rem);
    }
}
@media (min-width: 1600px) {
    html {
        font-size: calc(22/16 * 1rem);
    }
}


/* ARTICLE */

.article {
    padding: 5vw calc(2vw + 1vh) calc(5vw + 2rem);
}

.article :not(br) {
    line-height: 1.75;
}

.article p,
.article h1,
.article h2,
.metadata {
    max-width: 40rem;
    width: 100%;
    margin: 0 auto;
}

.article p {
    margin-top: calc(0.5 * 1.75em);
}

.article h1 {
    font-size: 3em;
    line-height: calc(2 * 1.75 / 3);
    font-weight: 900;
}

@media (max-width: 450px) {
    .article h1 {
        font-size: 2.5em;
        line-height: calc(1.5 * 1.75 / 2.5);
    }
}

@media (max-width: 360px) {
    .article h1 {
        font-size: 2.15em;
        line-height: calc(1.5 * 1.75 / 2.15);
    }
}

.article h2 {
    font-size: 1.3em;
    font-weight: 700;
    margin-bottom: 0;
    line-height: calc(1 * 1.75 / 1.3);
    margin-top: calc(1.5 * 1.75em / 1.5);
}

.article a {
    font-weight: 700;
    color: inherit;
    text-decoration: none;
}

.article a:hover {
    color: #ff477e;
}

.article__lead {
    font-weight: 700;
}


/* METADATA */

.metadata {
    font-size: calc((14/16) * 1rem);
    line-height: calc(1.5 * 1.75 / (14/16));
    margin-top: calc(0.5 * 1.75em / (14/16));
    display: flex;
    flex-wrap: wrap;
}

.metadata__primary {
    flex-grow: 1;
    display: block;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.metadata__avatarsGroup {
    display: inline-flex;
    vertical-align: middle;
    flex-flow: row nowrap;
    margin: -0.7em 0.1em -0.5em 0;
}

.metadata__avatar {
    height: 2.2em;
    width: 2.2em;
    border: white solid 3px;
    border-radius: 50%;
    box-shadow: inset 0 2px 5px 1px rgba(0, 0, 0, 0.25);
    background: no-repeat center center white;
    background-size: 100%;
    transition: transform ease-out 100ms;
}

.metadata__avatar:not(:last-child) {
    margin-right: -0.9em;
}

.metadata__avatar:hover {
    transform: scale(1.1);
    z-index: 1;
    border-color: #ff477e;
}

.metadata__separator,
.metadata__publishTime {
    color: #aaaaaa;
}

.metadata__separator {
    margin: 0 0.6em;
}

@media (max-width: 750px) {
    .metadata__optionalLabel {
        display: none;
    }
}

.metadata__articleStatus {
    flex-grow: 0;
    display: inline-flex;
    align-items: center;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.75em;
    padding-top: 0.2em;
    color: #fdbf31;
}

.metadata__articleStatus > * {
    margin-right: 0.3em;
}

.metadata__icon {
    fill: currentColor;
}
